/* Footer
------------------------------------------ */

#footer {
  z-index:100;
  background: $warm-black;
  .row {
    max-width: 1800px;
    margin-left:auto;
    margin-right: auto;
  }
  .global {
    &.homepage {
      background: #d0bca9;
      color: $warm-black;
      h3,p,a {
        color: $warm-black;
    }

    }
    .footerinfo {
      @media (max-width: 992px) {
        border-right-style: none;
      }
    }
    
    .footer-signup {
      padding-top: 5vw;
    }
    .footer-signup img {
      width: 150px;
    }
    .footerlogo {
      width:250px;
    }
    a.button:focus {
      opacity: 0.9;
    }
    .row {
      z-index: 100;
      position: relative;
    }
  }
  .alt {
    background: $light_yellow;
    .footerinfo {
      @media (max-width: 992px) {
        border-right-style: none;
      }
      border-right: 3px solid $yellow;
    }
    .footer-signup img {
      padding-top: 5vw;
      width: 200px;
    }
    .footerlogo {
      width: 150px;
    }
  }
  .footer-uw {
    background: #0F1005;
    margin-top:2vw;
  }
}
.footer {
  text-align: left;
  margin:0 auto;
  padding-bottom:5vw;

  .footerinfo {
    padding: 3vw;
    margin-top:4vw;
    color: #fff;
    a {
      color:$creme;
    }
    .social-links {
      a img {
        width: auto;
        height: 20px;
        margin-right: 40px;
      }
    }
  }
  h3 {
    margin-bottom: 15px;
  }
  .footer-signup {
    text-align: center;
    img {
      width: 200px;
      margin: 0 auto;
    }
    p {
      margin-bottom: 15px;
    }
  }
  .footerlogo {
    height: auto;
    margin-bottom: 20px;
  }
  .footernav {
    margin-top:5vw;
    color: $creme;
    a {
      display: block;
      font-size: 14px;
      letter-spacing: 2.5px;
      line-height: 27px;
      color: $creme;
    }

    .partner-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    .partner-tile {
      background: $creme;
      border-radius: 8px;
      width: 100%;
      aspect-ratio: 1.5 / 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 70%;
        max-height: 70%;
        height: auto;
        transition: transform 150ms ease;
      }

      &:hover img,
      &:focus img {
        transform: scale(1.08);
      }
    }
  }
}
.uw-logo-row {
    padding: 8px 0;
    text-align: center;
    background-color: $dark-black;
    .uw-logo {
      display: inline-block;
      max-width: 200px;
      width: 100%;
      height: auto;
      padding:20px;
    }
  }
