/* Styles of the Get Involved Page */

.get-involved {
    background-color: $blue-black;
    color: white;
    .page_hero {

        text-align: center;
        background-image: url(/assets/img/hero-images/get-involved-hero.png);
        background-size: cover;
        background-position: right;
        height: 90vh;
        align-content: center;

        h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 50px;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            z-index: 1;

            @media #{$break-sm} {
                margin-top: 60px;
            }

            &:before {
                content: "";
                width: 100%;
                height: 17px;
                background: #0F6E8A;
                display: block;
                position: absolute;
                z-index: -1;
                bottom: 5px;
                left: -8px;
            }

            @media #{$break-sm} {
                font-size: 40px;
            }
        }
    }
    #marquee {
        position: relative;
        overflow: hidden;
        transform: translate3d(calc(-25% + 20vw), 0, 0);

        span {
            font-size: 4vw;
            padding: 0 2vw;
        }

        .marquee__inner {
            width: fit-content;
            display: flex;
            position: relative;
            transform: translate3d(var(--move-initial), 0, 0);
            animation: marquee 5s linear infinite;
            animation-play-state: paused;
        }

    }
    .helm-frame {
        background-image: url("../img/home/border-bottom.png");
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 25px;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        border-bottom: 4px solid $blue-black;
        pointer-events: none;
    }
}