/* Styles of the Get Involved Page */

.get-involved {
	background: #fff;
	background-color: white;

	.page_hero {
		text-align: center;
		background-image: url(/assets/img/hero-images/getinvolved-bg.jpg);
		background-size: cover;
		background-position: right;
		height: 70vh;
		align-content: center;

		.container {
			padding: 4vw;
		    position: absolute;
		    margin: 0 auto;
		    display: block;
		    max-width: initial;

			h1 {
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 4em;
				position: relative;
				display: inline-block;
				margin-bottom: 25px;
				z-index: 1;
				margin:0 auto;

				&:before {
					content: "";
					width: 100%;
					height: 17px;
					background: #0f6e8a;
					display: block;
					@media (max-width: 1130px) {
						display: none;
					}
					position: absolute;
					bottom: 5px;
					z-index: -1;
				}
			}
		}
	}

	#marquee {
		display: flex;
		margin: auto;
		align-items: center;
		height: 220px;
		overflow-x: hidden;
		font-size: 5em;
		background-color: $blue-black;

		.marquee-content {
			padding-inline: 8px;
			width: fit-content;
			height: fit-content;
			position: relative;
			margin-bottom: 10px;

			p {
				font-size: 50px;
				font-style: normal;
				font-weight: 500;
				letter-spacing: 4.375px;
				line-height: 30px;
				animation: scroll 60s linear infinite;
				&:nth-child(2) {
					animation: scroll-reverse 60s linear infinite
				}


			}

			span {
				color: #094056;
				font-family: brandon-grotesque, sans-serif;
				padding: 0 2vw;
				white-space: nowrap;
			}
		}

		.scroll {
			animation: scroll 50s linear infinite;
		}

		.scroll-reverse {
			animation: scroll-reverse 50s linear infinite;
		}

		@keyframes scroll {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-49%);
			}
		}
		@keyframes scroll-reverse {
			from {
				transform: translateX(-49%);
			}
			to {
				transform: translateX(0);
			}
		}
	}

	.helm-frame-top {
		background-image: url("../img/home/border-bottom.png");
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 30px;
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		border-bottom: 4px solid $blue-black;
		pointer-events: none;
	}

	.helm-frame-bottom {
		background-image: url("../img/home/border-bottom.png");
		background-position: bottom;
		background-repeat: repeat-x;
		background-size: 30px;
		-webkit-transform: scaleY(-1);
		transform: scaleY(-1);

		position: absolute;
		height: 100%;
		width: 100%;
		top: -4px;

		padding: none;
		margin: none;
		border-bottom: 4px solid $blue-black;
		pointer-events: none;
	}

	#content-body {
		@media #{$break-sm} {
			display: block;
		}

		.row {
			padding-top: 5vw;
			margin-left: 6vw;
		}

		h2 {
			color: #011c25;
			font-family: brandon-grotesque, sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 450;
			line-height: normal;
			text-transform: uppercase;

			letter-spacing: 5.72px;
			margin-left: 0;
			margin-bottom: 10px;
			padding-top: 50px;
			&:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}

		p {
			margin-bottom: 10px;
		}

		.nav-wrap {
			@media #{$break-sm} {
				display: none;
			}
		}

		.nav {
			ul {
				background: $ultralight_gray;
				display: inline-block;
				padding: 35px 20px 20px 30px;
				list-style: none;
				border-radius: 5px;
				li {
					color: $blue-black;
					margin-bottom: 20px;
					border-left: 4px solid #fff;
					padding-left: 10px;
					line-height: 25px;
					&:hover {
						border-left: 4px solid $light_red;
					}

					a {
						color: $blue-black;
						font-size: 16px;
						letter-spacing: 0px;
						text-transform: uppercase;
					}
				}
			}
		}

		.fact {
			padding: 40px 0px;
			height: fit-content;
			border-bottom: 3px solid $ultralight_gray;
			align-items: center;
			display: flex;
			gap: 2vw;

			@media #{$break-lg} {
				gap: 8vw;
			}

			@media #{$break-sm} {
				flex-direction: column;

				&:nth-child(even) {
					flex-direction: column-reverse;
				}
			}

			.info-section {
				width: 75%;

				@media #{$break-md} {
					margin: 32px;
					width: 100%;
					// display: block;
				}
			}

			.img-section {
				width: 25%;

				@media #{$break-md} {
					margin: 32px;
					width: 100%;
					// display: block;
				}

				img {
					margin: auto;
					display: flex;
					border-radius: 5px;
				}
			}
		}
	}

	// TODO modify footer with custom css
	.footer {
		// color: white;
		// background-color: #001e2a !important;
	}
}
