/* hero
------------------------------------------ */

.hero {
  width: 100%;
  height: 100vh;
  min-height: 40vw;
  z-index: 200;
  position: relative;
  background-size: cover;
  background-position: bottom;
  @media #{$break-sm} {
    height: 95vh;
  }
}

.hero-slider  {
  .carousel-inner {
    .item {
      transition-property: opacity;
      height: inherit;
      width: inherit;
      .item-info {
        @include vertical-align;
        text-align: center;
        color: #fff;
        z-index:1000;
        position:relative;
      }
      .main-mark {
        background: url('../img/fd-logo-white.png') no-repeat;
        width: 30vw;
        margin: 0 auto;
        height: 6vw;
        text-indent: -9999px;
        background-size: 30vw auto;
        @media #{$break-sm} {
          width: 50vw;
          max-width: 250px;
          height: 10vw;
          background-size: 50vw auto;
        }
      }
    }

    .item:nth-child(1) {
      background: url(../img/hero-images/hero2.jpg) no-repeat;
      background-size:cover;
    }

    .item:nth-child(2) {
      background: url(../img/hero-images/hero1.jpg) no-repeat;
      background-size:cover;
    }

    .item:nth-child(3) {
      background: #E46653;
    }

    .item:nth-child(4) {
      background: $red;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
      width:100%;
      height:100vh;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.slide-bullets li {
  width:initial;
  height: initial;
  text-indent:initial;
  border:none;
  border-radius:none;
  background-color: transparent;
  cursor:pointer;
  width: 25vw;
  &.active {
    background-color:transparent;
  }
}
.grad {
  position:absolute;
  bottom:0;
  left:0;
  height:80vh;
  width: 100vw;
  z-index:99;
  display: block;
  background: rgba(16,25,32,1.0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgba(16,25,32,1.0), rgba(16,25,32,1.0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0), rgba(16,25,32,1.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0), rgba(16,25,32,1.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,0,0,0), rgba(16,25,32,1.0)); /* Standard syntax */
  .slide-bullets {
    position: absolute;
    bottom: 0;
    list-style-type: none !important;
    width: 100vw;
    left: 0;
    padding:0px;
    margin-left:0px;
    display:flex;
    .slide-bullet {
      position: relative;
      color: #fff;
      z-index: 100;
      display: inline-block;
      text-align:center;
      text-transform:uppercase;
      font-size:14px;
      .bullet {
        width: 35px;
        height: 35px;
        background: url(../img/ui/bullet.png) no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        transition: all .3s ease-in-out;
      }
      &.active{
        .bullet {
          background: url(../img/ui/bullet-filled.png) no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
