/* hero
------------------------------------------ */

.hero {
  width: 100%;
  height: 100vh;
  min-height: 40vw;
  z-index: 200;
  position: relative;
  background: url('../img/space-bg.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  @media #{$break-sm} {
    height: 95vh;
  }
  .main-mark {
    background: url('../img/fd-logo-white.png') no-repeat;
    width: 30vw;
    margin: 0 auto;
    height: 6vw;
    text-indent: -9999px;
    background-size: 30vw auto;
    @media #{$break-sm} {
    width: 50vw;
    max-width: 250px;
    height: 10vw;
    background-size: 50vw auto;
    }
  }
  .animated {
    width: 100%;
    height: inherit;
    position: relative;
    overflow: hidden;
    .clouds {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: block;
      z-index: 100;
      &.clouds1 {
        background: url('../img/clouds-new2.png') repeat-x;
        background-size: 2000px 600px;
        opacity: 0.7;
        top: 20vh;
        left: 0;
        animation: cloudMotion 70s linear infinite;
        @media #{$break-lg} {
          animation: cloudMotion 30s linear infinite;
        }
      }
      &.clouds2 {
        background: url('../img/clouds-new2.png') repeat-x;
        background-size: 900px 300px;
        top: 70vh;
        left: 0;
        opacity: 0.7;
        animation: cloudMotion 70s linear infinite;
         @media #{$break-lg} {
          animation: cloudMotion 30s linear infinite;
        }
      }
    }
  }
  .image-bg {
    position: absolute;
    //background: linear-gradient(to bottom,rgba(21, 134, 156, 1.0), rgba(243, 253, 255, 0.0));
    background-size: 100% auto;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    z-index: 200;
    bottom: 0;
    .main-cta-wrap {
      height:100%;
      position: relative;
    }

    .main-cta {
      @include vertical-align;
      position: absolute;
      width: 100%;
      height: auto;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      img {
        width: 25vw;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 6vh;
      }
      p {
        font-size: 18px;
        letter-spacing: 6px;
        width: 70vw;
        margin: 0 auto;
        max-width: 500px;
        @media #{$break-sm} {
          font-size: 16px;
        }
      }
      h1,h2,h3 {
        margin-bottom: 6vh;
        text-shadow: 0px 2px 3px #6C6A6A;
      }
      h1 {
        font-weight: 600;
        font-size: 4.5vw;
        letter-spacing: .4em;
        line-height: 5vw;
        @media #{$break-xl} {
          font-size: 3vw;
          line-height: 4vw;
        }
        @media #{$break-sm} {
          font-size: 6vw;
          line-height: 8vw;
        }

      }
      h3 {
        font-size: 3.5vw;
         @media #{$break-xl} {
          font-size: 2vw;
        }
        @media #{$break-sm} {
          font-size: 4vw;
        }

      }
    }
  }
}
