/* Home page styles */

.home-page {
    background-color: #001E2A;
    h2, .h2 {
        font-size: 36px;
        font-family: brandon-grotesque, futura-pt, sans-serif;
        text-transform: uppercase;
    }
    h3 {
        font-size: 45px;
        text-transform: uppercase;
    }
    h4 {
        font-size: 30px;
    }
    .lead {
        color: #fff;
        .h2 {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), #202F3C -0.1em 0.05em;
        }
        margin-bottom: 0;
        .section-img {
            margin-top: -6em;
            text-align: center;
            img {
                width: 35vw;
                max-width: 345px;
                min-width: 195px;
            }
        }
    }
    .d-flex {
        display: flex;
    }
    .flex-col {
        flex-direction: column;
    }
    .flex-row {
        flex-direction: row;
    }
    .z1 {
        z-index: 1;
        position: relative;
    }
    .ship {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 69vw;
            max-width: 760px;
        }
    }
    #welcome {
        color: #fff;
        text-align: center;
        background-image: url("/assets/img/home/stars-pattern.png"), linear-gradient(180deg, #03283A 22.34%, #0B4F65 47.58%, #32BBC3 73.98%, #FFA490 99.61%);
        background-position: center 15px, center;
        background-repeat: repeat-x, repeat-x;

        .container {
            padding-bottom: 0;
        }
        h2 {
            color: #E0B729;
            margin-top: 15rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        p {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .water-pattern {
            position: relative;
            background-image: url("/assets/img/home/water.png");
            background-repeat: repeat-x;
            background-position: bottom;
            background-size: 19px;
            width: 100%;
            height: 19px;
            margin-top: -22px;
        }
    }
    .bottom-frame {
        background-image: url("../img/home/bulwarks.png");
        background-repeat: repeat-x;
        width: 100%;
        height: 40px;
    }

    .helm-water {
        background-image: url("../img/home/Helm_Water.png");
        background-repeat: no-repeat;
        background-size: max(900px, 100vw);
        width: 100%;
        height: 57vw;
        min-height: 400px;
        max-height: 643px;
        position: relative;
        text-align: center;
        overflow: hidden;
        .ribbon {
            position: relative;
            background-image: url("/assets/img/home/stars-ribbon.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100vw;
            height: 30vw;
            max-width: 464px;
            max-height: 138px;
            padding-top: 9.5vw;
            font-size: 9.5vw;
            color: #E0B729;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 464px) {
                width: 60vw;
                font-size: 36px;
                padding-top: 5%;
            }
            @media (min-width: 576px) {
                width: 55vw;
                font-size: 45px;
            }
            @media (min-width: 768px) {
                width: 50vw;
            }
            @media (min-width: $screen-md-min) {
                padding-top: 45px;
            }
        }
    }
    @keyframes helm {
        0% {
            transform: translate(0, 0) rotate(0);
        }
        25% {
            transform: translate(-1px, -2px) rotate(0.1deg);
        }
        50% {
            transform: translate(-3px, 2px) rotate(-0.2deg);
        }
        75% {
            transform: translate(-2px, -3px) rotate(-0.1deg);
        }
        100% {
            transform: translate(0, 0) rotate(0);
        }
    }
    .helm {
        position: absolute;
        top: -2px;
        width: max(903px, calc(100% + 5px));
        height: 57vw;     
        min-height: 400px;
        max-height: 643px;
        background-image: url("../img/home/Helm_Background.png");
        background-size: cover;
        animation: helm 5s linear infinite;
        text-align: center;
        margin-left: min(-451px, -50%);
        left: 50%;
    }
    .helm-frame {
        background-image: url("../img/home/border-bottom.png");
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 25px;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        border-bottom: 4px solid #001E2A;
    }
    #modelingroom .hero-text {
        margin-top: auto;
    }
    .modeling-container {
        position: relative;
        width: 100%;
    }
    .modeling-monitor {
        position: absolute;
        top: 31.5%;
        width: 100%;
        text-align: center;
        height: 100%;
        video {
            width: max(25vw, 166px);
            margin-left: calc(max(25vw, 166px) * -.2);
        }
    }
    .modeling-room {
        position: relative;
        width: 100%;
        height: 60vw;
        min-height: 400px;
        max-height: 643px;
        background-image: url("../img/home/border-bottom.png"), url("../img/home/ModelingRoom_Background.png");
        background-size: 25px, cover;
        background-repeat: repeat-x, no-repeat;
        background-position: bottom,top;
        text-align: center;
        padding-top: 5em;
        display: flex;
        justify-content: center;
        overflow: hidden;

        @keyframes reel {
            100% { transform: rotate(360deg); }
        }
        .modeling-reel {
            position: absolute;
            left: calc(50% + 143px);
            top: 49%;
            width: max(34px, 5.1%);
            animation: reel 4s linear infinite;
        }
    }
    .deepsea {
        color: #001E2A;
        min-height: 50vw;
        //background: linear-gradient(to bottom, #d5fffa, #086684);
        background: linear-gradient(to bottom, #d5fffa, #066887);
        text-align: center;
        align-items: center;

        h2 {
            line-height: 1em;
            font-weight: bold;
            letter-spacing: 3.5px;
        }

        h3 {
            font-family: "Fraunces", serif;
            text-align: center;
            margin: auto;
            padding-bottom: 1em;
            letter-spacing: 3.5px;
        }

        p {
            color: black;
            font-weight: bolder;
            text-align: left;
            padding-bottom: 1em;
        }

        button {
            color: #04201f;
            font-weight: bold;
            margin: auto;
            border-radius: 5px;
            border: 3px solid #04201f;
        }

        .divider {
            background-image: url(../img/home/wave-divider.png);
            background-repeat:no-repeat;
            background-size: contain;
            min-height:10px;
            width: 300px;
            margin: 0 auto;
            padding: 1em 0;
        }

        @media (min-width: 768px) {
            p {
                font-size: 21px;
            }

            h3 {
                font-size: 36px;
            }
        }
    }

    .bios {
        text-align: left;

        .bio-content {
            display: flex;
            flex-direction: row;
        }

    }

    .ocean-floor {
        min-height: 60vh;
        background: url(../img/home/ocean-floor.png) repeat-x center;
        background-size: cover;
    }

    @media (min-width: 576px) {
        .lead .section-img {
            margin-top: -8em;
        }
        h2, .h2 {
            font-size: 60px;
            line-height: 60px;
        }
        h4 {
            font-size: 40px;
        }
    }
    @media (min-width: 664px) {
        .modeling-room .modeling-reel {
            left: calc(50% + 21.5vw);
        }
    }
    @media (min-width: 768px) {
        .flex-lg-reverse {
            flex-direction: row-reverse;
        }
    }
    @media (min-width: 992px) {
        .flex-lg-reverse {
            flex-direction: row-reverse;
        }
    }
    @media (min-width: 1070px) {
        .modeling-room .modeling-reel {
            width: max(34px, 5.7cqh);
            left: auto;
            margin-right: -55cqh;
        }
    }
    @media (min-width: 1162px) {
        .modeling-room .modeling-reel {
            width: max(34px, 4.9%);
            top: 27.1vw;
            left: 69vw;
            margin-right: auto;
        }
        .modeling-monitor {
            top: 17.5vw;   
            video {
                width: max(24vw, 166px);
                margin-left: calc(max(24vw, 166px) * -.2);
            }
        }
    }
    @media (min-width: 1600px) {
        .flex-xxl-row {
            flex-direction: row;
        }
        .flex-xxl-col {
            flex-direction: column;
        }
        .flex-xxl-reverse {
            flex-direction: row-reverse;
        }
        .d-xxl-none {
            display: none;
        }
        section:not(#welcome) {
            padding-left: 5%;
            padding-right: 5%;
            .container {
                width: 60%;
            }
        }
        .lead .section-img {
            margin-top: 0;
            img {
                width: 35%;
            }
        }
        #welcome p {
            max-width: 900px;
        }
        .ship img {
            max-width: 900px;
        }
        .helm-water {
            height: auto;
            min-height: unset;
            max-height: unset;
            margin-top: -3px;
            background-size: auto 90%;
            border-left: 1px solid #001E2A;
        }
        .helm {
            height: calc(100% + 9px);
            min-height: unset;
            max-height: unset;
            background-position: top;
            clip-path: xywh(0 3px 100% calc(100% - 6px));
        }
        .helm-frame {
            background-image: url("../img/home/border-left.png"), url("../img/home/border-right.png");
            background-position: left, right;
            background-repeat: repeat-y, repeat-y;
            background-size: 9px, 9px;
            border-bottom: none;
        }
        .modeling-monitor {
            top: 205px;
            video {
                width: (max(24%, 267px));
                margin-left: calc(max(24%, 267px) * -.2);
            }
        }
        .modeling-room {
            background-image: url("../img/home/border-left.png"), url("../img/home/border-right.png"), url("../img/home/ModelingRoom_Background.png");
            background-size: 9px, 9px, cover;
            background-repeat: repeat-y, repeat-y, no-repeat;
            background-position: left, right, top;
            .modeling-reel {
                left: calc(50% + 228px);
                top: 315px;
                width: max(5%, 53px);
            }
        }
    }
    @media (min-width: 2100px) {
        section:not(#welcome) {
            padding-left: 15%;
            padding-right: 15%;
        }
        .ship img {
            max-width: 1200px;
        }
        .helm-water {
            background-size: 100%;
            background-position-y: 30%;
        }
        .modeling-monitor {
            top: 9.4cqw;
        }
        .modeling-room .modeling-reel {
            top: 14.7cqw;
            left: 70%;
            width: 4.75%;
        }
    }

    section#carousel {
        margin-top: 63px; /* offset for the top nav-bar */
        padding: 0;
    }

    #carousel-hero .info{

        display: none;
        position: absolute;
        z-index: 102;
        width: 410px;
        padding: 34px 34px 34px 15px;
        border-radius: 0 10px 10px 0;
        background-color: #001E2A;
        color: #F9F7F4;
        top: 5vh;

        @media (min-width: 1132px) and (min-height: 800px){
            display: block;
        }

        @media (min-width: 2015px)
        {
            display: block;
        }

        @media (min-height: 1000px){
            top: 15vh;
        }

        @media (min-height: 1200px){
            top: 20vh;
        }


        @media (min-width: 2400px){
            padding-left: 34px;
            width: 428px;
        }

        p{
            font-family: Courier;
            font-size: 18px;
            line-height: 29px;
            margin-top: 20px;
        }

        a{
            font-weight: 700;
            margin-top: 20px;
        }

    }

    .carousel-inner > .item {

        height: 75vh;
        width: 100vw;

        background-size: cover !important;
        background-repeat: no-repeat !important;

        .scanlines{
            background: url('../img/hero-images/crt-pattern.png');
            background-size: 40px;
            background-repeat: repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 101;
            opacity: .5;
        }

        .carousel-video{
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

        @media(min-height: 800px)
        {
            height: 80vh;
        }

    }

    ol.carousel-indicators{

        display: inline-block;
        list-style: none;
        position: absolute;
        bottom: -40px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
        z-index: 10;

        @media(min-height: 400px)
        {
            bottom: -55px;
        }

        @media(min-width: 664px) and (min-height: 350px)
        {
            bottom: -55px;
        }

        @media(min-width: 880px) and (min-height: 350px)
        {
            bottom: -10px;
        }

        @media(min-height: 600px)
        {
            bottom: -100px;
        }
       
        @media(min-height: 600px) and (min-width: 1204px)
        {
            bottom: -85px;
        }
       
        @media(min-height: 1000px) and (min-width: 1204px)
        {
            bottom: -100px;
        }

        @media(min-height: 1100px) and (min-width: 1204px)
        {
            bottom: -135px;
        }

        li{
            display: inline-block;
            margin-right: 10px;
            margin-top: 20px;
            width: 23%;
            height: 165px;
            background-color: #001E2A;
            border: 6px solid #001E2A;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
            vertical-align: top;
          
            @media(min-width: 664px)
            {
                height: 232px;
            }

            img{
                width: 100%;
                object-fit: cover;
                object-position: top;
                text-align: center;
                margin: 0 auto;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .thumb-caption{
                display: block;
                background-color: #001E2A;
                color: #FAD9D9;
                font-family: brandon-grotesque, futura-pt, sans-serif;
                line-height: 16px;
                font-weight: 450;
                font-size: 14px;
                text-align: left;
                padding: 6px 6px 0 6px;

                a{
                    color: #FAD9D9;
                }
            }

        }

        
        li.indicator-nomobile{
        
            display: none;
        }
    

        li:last-of-type{
            
            width: 55px;
            margin-right: 0;
            
            .chevron{
                background-image: url('../img/home/carousel/chevron_sm.svg');
                width: 23px;
                height: 35px;
                background-repeat: no-repeat;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .thumb-caption{
                text-align: left;
                margin: 0 auto;
                width: 49px;
            }

        }

        li.active{
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -o-transform:scale(1.1);
            transform:scale(1.1);
        }

        @media (min-width: 370px){
            
            li:last-of-type{

                width: 60px;

                .thumb-caption{
                    width: 50px;
                }
            }
        }

        /* Still three slides */
        @media (min-width: 664px) {

            li{
                width: 150px;

                img{
                    width: 138px;
                    height: 104px;
                }

                .thumb-caption{
                    line-height: 18px;
                }
            }

            li:last-of-type{
                
                width: 86px;
                
                .thumb-caption{
                    width: 78px;
                }
            }
        }

         /* Still three slides, but larger */
         @media (min-width: 880px){

            li{
                width: 220px;
                margin-right: 15px;

                img{
                    width: 208px;
                    height: 156px;
                }

                .thumb-caption{
                    line-height: 25px;
                    font-size: 20px;
                    padding: 6px 6px 0 6px;
                }
            }

            li:last-of-type{
                
                width: 129px;
                
                .thumb-caption{
                    width: 100px;
                }
            }

        }

        
        /* Show all four slides. */
        /*  If you change this breakpoint width, you must update the "mobileWidthBreakpoint" JavaScript variable, so the carousel resets */
        @media (min-width: 1132px){

            li{
                width: 220px;

                img{
                    width: 208px;
                    height: 156px;
                }

                .thumb-caption{
                    line-height: 25px;
                    font-size: 20px;
                    padding: 6px 6px 0 6px;
                }
            }

            li.indicator-nomobile{
                display: inline-block;
            }

            li:last-of-type{
                
                width: 129px;
                
                .chevron{
                    background-image: url('../img/home/carousel/chevron_lg.svg');
                    width: 36px;
                    height: 57px;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
    
            }

        }

        @media (min-width: 1205px){
            
            li{

                width: 239px;

                img{
                    width: 227px;
                    height: 164px;
                }
    
                .thumb-caption{
                    line-height: 28px;
                    font-size: 22px;
                    padding: 8px 8px 0 8px;
                }
            }
            
        }

    }
}
