#marquee {
	display: flex;
	margin: auto;
	align-items: center;
	height: 220px;
	overflow-x: hidden;
	font-size: 5em;
	background-color: $warm-black;

	.marquee-content {
		padding-inline: 8px;
		width: fit-content;
		height: fit-content;
		position: relative;
		margin-bottom: 10px;

		p {
			font-size: 50px;
			font-style: normal;
			font-weight: 500;
			letter-spacing: 4.375px;
			line-height: 30px;
			animation: scroll 60s linear infinite;
			&:nth-child(2) {
				animation: scroll-reverse 60s linear infinite
			}


		}

		span {
			color: $brown;
			font-family: brandon-grotesque, sans-serif;
			padding: 0 2vw;
			white-space: nowrap;
		}
	}

	.scroll {
		animation: scroll 50s linear infinite;
	}

	.scroll-reverse {
		animation: scroll-reverse 50s linear infinite;
	}

	@keyframes scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-49%);
		}
	}
	@keyframes scroll-reverse {
		from {
			transform: translateX(-49%);
		}
		to {
			transform: translateX(0);
		}
	}
}

.helm-frame-top {
	background-image: url("../img/home/border-bottom.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 15px;
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	border-bottom: 4px solid $warm-black;
	pointer-events: none;
}

.helm-frame-bottom {
	background-image: url("../img/home/border-bottom.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 15px;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);

	position: absolute;
	height: 100%;
	width: 100%;
	top: -4px;

	padding: none;
	margin: none;
	border-bottom: 4px solid $warm-black;
	pointer-events: none;
}


