.play {
    .page_hero {
        // background: url(/assets/img/games/bg-space-03.png);
        // background-size: cover;
        // background-position: left;
        // margin-top: 50px;
        // padding: 3vw 0vw;
        padding-top:60px;
        height: auto;
        z-index:100;
        background:$warm-black;
        .scanlines {
          background:url(../img/hero-images/crt-pattern.png);
          background-size:40px;
          background-repeat: repeat;
          position:absolute;
          width:100%;
          height:100%;
          display:block;
          z-index:101;
          opacity:.5;
            @media #{$break-sm} {
              display:none;
            }
        }
        #playback {
            position: relative;
            z-index:100;
            right: 0;
            bottom: 0;
            width: 100%   !important;
            height: auto   !important;
            min-width:800px;
            @media #{$break-sm} {
              display:none;
            }
        }

        @media #{$break-sm} {
            height: auto;
            padding: 2vw;
            margin-top: 20px;
        }

        .info {
            z-index: 10;
            color: $creme;
            width: 35%;
            padding: 2vw 2vw 2vw 3vw;
            border-radius: 0 10px 10px 0;
            background: #001E2A;
            z-index:101;
            position:absolute;

            p {
                margin-bottom: 20px;
                color: $creme;
            }

            @media #{$break-sm} {
              width:100%;
              position:relative;
              display:block;
              padding:8vw;
              border-radius:0;
            }

            h1 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 50px;

                @media #{$break-md-lg} {
                    font-size: 30px;
                }
            }

            h2 {
                color: $pink;
                font-size: 25px;
                text-transform: uppercase;
                margin-left: 0px;
                letter-spacing: 4px;

                @media #{$break-md-lg} {
                    font-size: 20px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }
        }

        .graphic {
            border: none;

            img {
                width: 100%;
                height: auto;
                border: none;
            }

            // #yellow-planet {
            //     width: 15%;
            //     position: relative;
            //     left: 10px;
            //     top: 0px;
            // }

            #kid-on-moon {
                width: 150%;
                transform: translateX(-20%) translateY(45%);
            }

            // #kid {
            //     width: 30%;
            //     transform: translateX(200px) translateY(-500px);
            //     z-index: 10;
            // }

            // #pink-planet {
            //     width: 100%;
            //     transform: translateY(300px) translateX(100px);

            // }

            @media #{$break-sm} {
                height: auto;
                width: 100%;
                margin-bottom: -20vw;

                #kid-on-moon {
                    width: 100%;
                    transform: translateX(60%) translateY(50%);
                }
            }
        }
    }
    #game_section {
      max-width:1600px;
      margin:0 auto;
    }
    .brief {
        width: 70vw;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .page-facts {
        background: $dark_gray;
        color: #fff;

        .info {
            padding: 6vw;
            width: 60%;
        }

        .fact {
            background: none;

            .photo {
                padding: 5vw;
                display: flex;
                position: relative;
                justify-content: center;
                width: 40%;

                img {
                    width: 20vw;
                    height: auto;
                }

                .forevermine_screenshot {
                    // margin-left: 10vw;
                    width: 30vw;
                    height: 19vw;
                }
            }
        }

        .astrovr_wrap {
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 10vw;

            @media #{$break-sm} {
                width: 100vw;
            }

            .astrovr {
                // width: 20%;
                margin: 0 auto;

            }

            .stars {
                width: 10%;
            }

            .stars1 {
                margin-top: -15vw;
                margin-right: 3vw;
            }

            .stars2 {
                margin-bottom: -15vw;
            }

            .teacher {
                width: 30%;
                margin-right: 2vw;
            }

            .kidA {
                width: 20%;
                // margin-right: 1vw;
            }

            .kidB {
                width: 25%;
            }


        }
    }

    .carousel-inner {
        min-height: 20vw;

        .item {
            transition: all .3s ease-in-out;
        }
    }

    .app-bullets {
        list-style-type: none !important;
        min-height: 10vw;
        text-align: center;
        padding-left: 0;

        @media #{$break-sm} {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .app-bullet {
            position: relative;
            z-index: 100;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            margin: 3vw;
            text-align: center;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            transition: all .3s ease-in-out;

            @media #{$break-sm-xs} {
                margin: 5px;
                border-radius: 10px;
                border-bottom: initial;
                -size: 10px;
            }

            &.active {
                border-bottom: 3px solid;

                @media #{$break-sm-xs} {
                    border: 2px solid;
                }
            }

            h2 {
                @media #{$break-sm-xs} {
                    font-size: 12px;
                    margin: 10px;
                }
            }
        }
    }

    .apps {
        text-align: center;
        padding: 20px;

        @media #{$break-sm} {
            padding: 0px;
        }

        .app-card {
            background: $deep-black;
            width: 18vw;
            box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.15);
            z-index: 75;
            border-radius: 8px;
            text-align: left;
            flex-direction: wrap;
            color: #fff;


            @media #{$break-md-lg} {
              width:25vw;
            }
            @media #{$break-sm} {
              width:90vw;
              display:flex;
              background:none;
              border-bottom:2px solid $dark_gray;
              border-radius:0px;
            }

            .app-logo {
                width: auto;
                border-radius: 8px 8px 0px 0px;
                display: block;
                margin: 0 auto;
                max-width: 100%;
                @media #{$break-sm} {
                  width:25vw;
                  height:25vw;
                  border-radius:8px;
                  margin:inherit;
                }
            }

            .game-wrapper {
                min-height: 150px;
                padding: 10px;
                position: relative;
                font-family: brandon-grotesque, futura-pt, sans-serif;
                letter-spacing: 1px;
                @media #{$break-sm} {
                  min-height:0;
                }
                .stats {
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    opacity:0.7;
                    font-size:14px;
                    @media #{$break-sm} {
                      position:relative;
                    }

                    p {
                        margin: 0;
                        line-height: 2.4rem;
                        @media #{$break-sm} {
                          line-height:2rem;
                        }
                    }

                    .italic {
                        font-style: italic;
                    }
                }
            }

            .title {
                font-carouselmily: brandon-grotesque, futura-pt, sans-serif;
                font-size: 22px;
                display: flex;
                // align-items: center;
                justify-content: left;
                padding-left: 10px;
                padding-right: 10px;
            }

            &:hover {
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
            }

            &.selectedItem {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);

                @media #{$break-sm-xs} {
                    box-shadow: none;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
        .gridder {
          padding:0px !important;
        }
        .gridder-show {
            @media #{$break-sm-xs} {
                margin-top: 20px;
            }

            .gridder-navigation {
                border-top: 0;
                border-bottom: 0;
                margin-top: 40px;
                width:100%;
                margin-right:20px;
                height:50px;
                overflow:inherit;
                .nav-left {
                  float:right;
                  margin-right:20px;
                  .gridder-close {
                      border-left: 0;
                      border-right: 0;
                      padding: 10px 5px;
                      background:$light_gray;
                      padding:4px 10px 6px 10px;
                      border-radius:5px;
                      img {
                        width:30px;
                        height:30px;
                      }

                      &:hover {
                          background: $yellow;
                      }
                  }
                }
            }
        }

        .gridder-expanded-content {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0px 20px 20px 20px;
            color:#fff;

            .note {
              color:$light_gray;
            }

            @media #{$break-sm-xs} {
                display: block;
            }

            .app-info {
                padding-right: 30px;

                @media #{$break-sm-xs} {
                    padding-right: 0px;
                }

                .stats {
                    // padding: 10px 0;
                    display: flex;

                    p {
                        font-weight: 700;
                        padding-right: 20px;
                        margin: 10px 0;
                    }
                }
            }

            .app-pane {
                width: 50%;

                h2 {
                    font-family: brandon-grotesque, futura-pt, sans-serif;
                    font-size: 36px;
                    margin-bottom: 10px;
                }

                @media #{$break-sm-xs} {
                    width: 100%;
                    display: block;
                }
            }

            h2 {
                margin-left: 0px;
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                font-size: 30px;

                @media #{$break-sm-xs} {
                    margin-right: 0px;
                }
            }

            p {
                margin-bottom: 20px;

                &.notsupported {
                    font-style: italic;
                    color: $red;
                }
            }
        }

        .collection-title {
            margin-top: 30px;
            margin-bottom: 30px;
            color:$light_gray;
        }

        .app-thumbnail {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 5px;

                &.long {
                    height: 45vw;
                    width: auto;

                    @media #{$break-sm} {
                        height: 90vw;
                        margin: 0 auto;
                    }
                }
            }


        }

    }

    #ourstuff {
        transition: all .3s ease-in-out;
        background: $warm-black;
        display:block;
        z-index:101;
        padding:5vw;
    }

    .whataboutaris {
        img {
            margin: 0 auto;
            display: block;
            width: 60px;
        }
    }

}
