.workwithus {
  .work_hero {
    height: auto;
    display:flex;
    align-items:center;
    overflow:hidden;
    background: #ffb3b3; /* Old browsers */
    background: -moz-linear-gradient(-35deg, #ffb3b3 0%, #b8deff 52%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-35deg, #ffb3b3 0%,#b8deff 52%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(155deg, #ffb3b3 10%,#b8deff 32%,#ffffff 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3b3', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .info {
      width: 50%;
      padding: 8vw 0vw 8vw 8vw;
      h1{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 50px;
      }
    }
    .graphic {
      width: 50%;
      .spaceplane-illustration {
        margin:0 auto;
        height: 70vh;
        display: block;
        margin-top: 10vw;
        margin-bottom: 4vw;
      }
      .exhaustwrap{
        position:absolute;
        bottom:10vw;
        right:0;
      }
    }
  }
  .carousel {
    .slide-wrap {
      top:5vw;
    }
  }
}
